wheel==0.36.2
ablog==0.10.12
alabaster==0.7.12
Babel==2.9.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cssselect==1.1.0
docutils==0.16
future==0.18.2
idna==2.8
imagesize==1.2.0
invoke==1.5.0
javalang==0.13.0
javasphinx==0.9.15
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
packaging==20.8
Pygments==2.7.3
pyparsing==2.4.7
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.4.3
sphinx-automodapi==0.13
sphinx-rtd-theme==0.5.1
sphinxcontrib-websupport==1.2.4
sphinx-notfound-page==0.6
sphinxext-opengraph==0.4.1
#Tinkerer==1.7.2
urllib3==1.26.2
Werkzeug==1.0.1
