ablog==0.9.3
alabaster==0.7.12
Babel==2.6.0
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
cssselect==1.0.3
docutils==0.14
future==0.17.1
idna==2.8
imagesize==1.1.0
invoke==1.2.0
javalang==0.12.0
javasphinx==0.9.15
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
packaging==18.0
Pygments==2.3.1
pyparsing==2.3.0
pyquery==1.4.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinx-automodapi==0.9
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
sphinx-notfound-page==0.4
Tinkerer==1.7.1
urllib3==1.24.2
Werkzeug==0.14.1
